body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #333;
}
.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}
a {
    text-decoration: none;
    color: #007bff;
}
a:hover {
    text-decoration: underline;
}

.input-text {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;         
}

/* Estilo para o formulário de registro */
.registro-form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registro-form h2 {
    color: #333;
    margin-bottom: 20px;
}

.registro-form label {
    display: block;
    margin-bottom: 10px;
}

.registro-form input[type="text"],
.registro-form input[type="password"],
.registro-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.registro-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.registro-form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para a lista de registros */
.registros-list {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registros-list h2 {
    color: #333;
    margin-bottom: 20px;
}

.registros-list ul {
    list-style: none;
    padding: 0;
}

.registros-list li {
    margin-bottom: 10px;
}

.registros-list li:last-child {
    margin-bottom: 0;
}

.registros-list li span {
    font-weight: bold;
    margin-right: 10px;
}

/* Estilo para a mensagem de aviso */
.aviso {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Estilo para o botão "Sair" */
.button1 {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button1:hover {
    background-color: #cc0000;
}

/* Estilo para a mensagem flutuante de sucesso */
.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d4edda;
    color: #155724;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
